<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

<!--    Permission for PDF Export-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaskTimeTrackerApp">
        <receiver android:name=".widget.WidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver android:name=".widget.BroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".activities.InitDatabaseActivity"
            android:exported="false"
            android:label="@string/title_activity_init_database"
            android:theme="@style/Theme.TaskTimeTrackerApp" />
        <activity
            android:name=".activities.WidgetTaskSettingActivity"
            android:exported="false"
            android:label="@string/title_activity_widget_task_setting"
            android:theme="@style/Theme.TaskTimeTrackerApp" />
        <activity
            android:name=".activities.DetailProjectActivity"
            android:exported="false"
            android:label="@string/title_activity_detail_project"
            android:theme="@style/Theme.TaskTimeTrackerApp" />
        <activity
            android:name=".activities.AddProjectActivity"
            android:exported="false"
            android:label="@string/title_activity_add_project"
            android:theme="@style/Theme.TaskTimeTrackerApp" />
        <activity
            android:name=".activities.ProjectOverviewActivity"
            android:exported="false"
            android:label="@string/title_activity_project_overview"
            android:theme="@style/Theme.TaskTimeTrackerApp" />
        <activity
            android:name=".activities.DetailEntryActivity"
            android:exported="false"
            android:label="@string/title_activity_detail_entry"
            android:theme="@style/Theme.TaskTimeTrackerApp" />
        <activity
            android:name=".activities.EntryOverviewActivity"
            android:exported="false"
            android:label="@string/title_activity_entries_overview"
            android:theme="@style/Theme.TaskTimeTrackerApp" />
        <activity
            android:name=".activities.AddEntryActivity"
            android:exported="false"
            android:label="@string/title_activity_add_entry"
            android:theme="@style/Theme.TaskTimeTrackerApp"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.DetailTaskActivity"
            android:exported="false"
            android:label="@string/title_activity_detail_task"
            android:theme="@style/Theme.TaskTimeTrackerApp" />
        <activity
            android:name=".activities.AddTaskActivity"
            android:exported="false"
            android:label="@string/title_activity_add_task"
            android:theme="@style/Theme.TaskTimeTrackerApp"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.TaskOverviewActivity"
            android:exported="false"
            android:label="@string/title_activity_task_overview"
            android:theme="@style/Theme.TaskTimeTrackerApp" />
        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTop"
            android:exported="true"
            android:theme="@style/Theme.TaskTimeTrackerApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.appwidget.action.ACTION_WIDGET_BUTTON_1" />
                <action android:name="android.appwidget.action.ACTION_WIDGET_BUTTON_2" />
                <action android:name="android.appwidget.action.ACTION_WIDGET_BUTTON_3" />
                <action android:name="android.appwidget.action.ACTION_WIDGET_BUTTON_4" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>